
@{
    ViewBag.Title = "FindABankHelp";
    Layout = "~/Views/Shared/_LayoutHelpContent.cshtml";
}

<h3>How to Find a Bank</h3>
<p>1.	From Home Page click <strong>BankAnalytics</strong>. Here, will arrive at the <strong>BankAnalytics Dashboard</strong></p>
<p>2.	There are 3 ways to find/search for a Bank from this point.</p>
<p>a.	<strong>Option 1</strong>: From the <strong>BankAnalytics Dashboard</strong> click <strong>Manage Profiles</strong> (in green box on right hand side of dashboard).</p>
<p>b.	From <strong>Manage Profiles</strong> page click <strong>Find a Bank</strong> (under MANAGE PROFILES tab).</p>
<p>c.	In the <strong>Search</strong> box, type the <strong>Bank Name, State, or FDIC Number</strong>.</p>
<p>1.	For Name or State searches, the search will begin as soon as the first letter is typed. Be as specific as possible to keep the <strong>Results</strong> list short.</p>
<p>2.	For FDIC Number searches, the search requires the full FDIC Number for the <strong>Results</strong> list to populate.</p>
<p>d.	When the Bank you are searching for is found, you can:</p>
<p>1.	Click the Bank Name, which will open the Bank in the <strong>Single Bank Profile</strong> view, or</p>
<p>2.	Select the + <strong>Add to Favorites</strong> button, on the right side of the screen.  This will add the selected bank to your <strong>Favorite Banks</strong> list.</p>
<p>e.	<strong>Option 2</strong>: From the <strong>BankAnalytics Dashboard</strong> click <strong>Manage Profiles</strong> (in green box on right hand side of dashboard).</p>
<p>f.	From Manage Profile page click <strong>Create New Peer Group</strong> (small green box in right-hand corner).</p>
<p>g.	In the left-hand box under "Bank Find" select your search criteria. You can <strong>Search for a bank name</strong>, and/or choose a <strong>State (Location</strong> drop down list), an <strong>Asset Range (Asset Size</strong> drop down list), a <strong>Corporation Type (If you do not select a filter, the entire list will be produced</strong> – i.e. if no State selected, all States will be searched, no Asset Range selected, all ranges will be searched, no Corporation Type selected, all Corporate Types will be searched)</p>
<p>h.	After selecting your criteria click <strong>Search</strong></p>
<p>i.	Your <strong>Search</strong> results will be reflected on screen. The list will include: <strong>Institution Name</strong>, FDIC Cert number, RSSD number, Sub-S?, City, State, Assets and Selection Box.</p>
<p>j.	When the Bank you are searching for is found, you can:</p>
<p>1.	Click the Bank Name, which will open the Bank in the <strong>Single Bank Profile</strong> view, or</p>
<p>2.	Click the check box on the right side to Select the Bank for your new Peer Group.</p>
<p>k.	<strong>Option 3</strong>: From the <strong>BankAnalytics Dashboard</strong> click <strong>Performance Analyzer</strong>. </p>
<p>1.	In the <strong>Search</strong> box on the right side of the screen, <strong>Enter an FDIC Certificate Number to view a different bank</strong>.</p>
<p>2.	Enter the full FDIC Number of the Bank and click the search button (magnifying glass icon).</p>
<p>3.	The Bank Name and data will populate the <strong>Performance Analyzer</strong> tab.</p>
<p>4.	From this point, you can either (select boxes under the name of the bank):</p>
<p>1.	<strong>View Profile</strong> – which takes you to the <strong>Single Bank Profile</strong>, or</p>
<p>2.	<strong>Add to Favorites</strong> – which will add the Bank to your <strong>Favorite Banks</strong> list.</p>

