
@{
    ViewBag.Title = "KeyRiskTrendsHelp";
    Layout = "~/Views/Shared/_LayoutHelpContent.cshtml";
}

<p>How to Use Our Applications &ndash; <strong>Key Risk Trends</strong></p>
<p>1. From the <strong>BankAnalytics Dashboard</strong> click <strong>Key Risk Trends.&nbsp;&nbsp;</strong>This report allows you to compare a Bank to a Custom peer group and to its UBPR assigned peer group.</p>
<p>2. Your Bank/Default Bank information will automatically populate the data fields and charts.</p>
<p style="padding-left: 30px;">a. There is a Quarter-to-Date (<strong>QTD</strong>) and Year-to-Date (<strong>YTD</strong>) tab (upper-right side of the page, in the Chart box) that can be selected to change the data view.</p>
<p style="padding-left: 60px;">1. <strong>QTD</strong> shows a rolling 5 quarters of data.</p>
<p style="padding-left: 60px;">2. <strong>YTD</strong> shows a rolling 5 years of data, with current year being in one of 4 different states, YYYYQ1, YYYYQ2, YYYYQ3 or FY (Depending on the most recent data submitted to the FFIEC).</p>
<p>3. You can change the Risk Category and data points by selecting the links at the top left of the page; <strong>Credit Risk</strong>, <strong>Interest Rate Risk</strong>, <strong>Liquidity &amp; Price Risk</strong>, and <strong>Strategic Risk</strong>.</p>
<p>4. The data in the tables on the left side of the page are for the Quarter (<strong>QTD</strong>) or the current Year (<strong>YTD</strong>).</p>
<p style="padding-left: 30px;">a. <strong>BANK</strong> &ndash; Your Bank/Default Bank data or another Bank since you can change this in the page at any time.</p>
<p style="padding-left: 60px;">1. To change <strong>BANK</strong>, select the <strong>View a Different Bank</strong> dropdown on the upper-right of the page, and select a listed Bank. Only Bank&rsquo;s previously saved as a <strong>Favorite Bank</strong> will be listed here.</p>
<p style="padding-left: 30px;">b. <strong>PEER 1</strong> &ndash; Custom peer group &ndash; which can be Default, or non-default since you can change this in the page at any time.</p>
<p style="padding-left: 60px;">1. To change <strong>PEER 1</strong>, select the <strong>Change Peer Group</strong> dropdown on the upper-right of the page, and select one of the previously created custom peer groups. Peer 1 will now reflect data for the newly selected peer group.</p>
<p style="padding-left: 30px;">c. <strong>PEER 2</strong> &ndash; the UBPR peer group assigned to the <strong>BANK</strong> being reviewed.</p>
<p>5. The data in the <strong>Chart, Peer Group Comparison Table</strong>, and <strong>Custom Peer Group Ranking Table</strong> on the right side of the page, reflects the data from the selected row from the Risk table on the left side of the page.</p>
<p style="padding-left: 30px;">a. Chart (defaults to <strong>Net Loans &amp; Leases / Total Assets (%)</strong>) data shows 5 Quarters or 5 Years of data for each of the groups &ndash; <strong>BANK</strong>, <strong>PEER 1</strong>, <strong>PEER 2</strong>. With the <strong>BANK</strong> shown as the Blue bars, <strong>PEER 1</strong> shown as the Green line, <strong>PEER 2</strong> shown as the Red line.</p>
<p style="padding-left: 30px;">b. <strong>Peer Group Comparison Table</strong> shows the summary of the charted data points for each of the Bank and Peer Groups.</p>
<p style="padding-left: 30px;">c. <strong>Custom Peer Group Ranking Table</strong> shows the 5 period data points for each of the banks in the <strong>PEER 1</strong> peer group listing. Ranked in order for the current period from Best to Worst.</p>
<p style="padding-left: 30px;">d. To change the data point that is shown in the Chart and Tables on the right side of the page, click in any part of the row of the desired data point in the table on the left side of the page.</p>
<p style="padding-left: 60px;">1. The default selection is <strong>Net Loans &amp; Leases / Total Assets (%)</strong>; to move to <strong>Texas Ratio (%)</strong> as an example, select anywhere in that row, from <strong>Texas Ratio (%)</strong> through the <strong>PEER 2</strong> number.</p>
<p>6. To view any of the Banks listed in the <strong>Custom Peer Group Ranking Table</strong>, click the Bank name (<strong>Institution Name</strong> column) and you will be re-directed to the <strong>Single Bank Profile</strong> for that specific Bank.</p>

