
@{
    ViewBag.Title = "PerformanceAnalyzerHelp";
    Layout = "~/Views/Shared/_LayoutHelpContent.cshtml";
}

<h4>How to Use Our Applications &ndash; <strong>Performance Analyzer</strong></h4>
<p>1. From the <strong>BankAnalytics Dashboard</strong> click <strong>Performance Analyzer</strong>.&nbsp; This report lets you compare Your Bank, the Default Bank or another Bank to the Top and Bottom performers using 10 Key Performance Indicators (KPI).</p>
<p>2. Your Bank/Default Bank information will automatically populate the data fields and charts as the <strong>Bank</strong> information.</p>
<p style="padding-left: 30px;">a. The default <strong>Search</strong> is:</p>
<p style="padding-left: 60px;">1. <strong>State</strong> = State of Your Bank/Selected Bank.</p>
<p style="padding-left: 60px;">2. <strong>Asset Size</strong> = All Banks</p>
<p style="padding-left: 60px;">3. <strong>Percentile</strong> = Top/Bottom 10%</p>
<p>3. <strong>Search</strong> can be changed based on these 3 categories and choosing from the items in the dropdown menus for each.</p>
<p>4. You can save each individual search by clicking the <strong>+SAVE FAVORITE SEARCH</strong> hyperlink in the top right side of the page.</p>
<p style="padding-left: 30px;">a) All saved searches can be used/found in the <strong>SAVED SEARCHES</strong> dropdown list in the upper left side of the page.</p>
<p>5. Comparison is between the Bank and the <strong>Top Performing Banks</strong> and <strong>Bottom Performing Banks</strong>, based on the criteria selected.</p>
<p style="padding-left: 30px;">a. <strong>Top Variance</strong> is calculated by this formula: Bank % - Top % for all KPIs, except <strong>Non-Performing Assets / Total Assets (%)</strong> and <strong>Efficiency Ratio (%)</strong>. Here the <strong>Top Variance</strong> is calculated by Top % - Bank % (this is because the lower ratio is desired for these 2 KPIs).</p>
<p style="padding-left: 30px;">b. <strong>Bottom Variance</strong> is calculated by the same formulas as above, replacing Bottom % in the place of Top %.</p>
<p>6. The <strong>Chart, Top Performing Banks</strong> table and <strong>Bottom Performing Banks</strong> table on the right side of the page, all reflect data from the selected KPI in the table on the left side of the page. It defaults to <strong>Asset Growth Rate (YTD) (%)</strong>, since this is the first KPI listed.</p>
<p style="padding-left: 30px;">a. To Change the KPI data in the Chart and Tables on the right, select the KPI name in the left side table. All data will adjust accordingly in the Chart and Tables.</p>
<p>7. To <strong>Export</strong> the data in the Tables to Excel, click the <strong>Export Data</strong> hyperlink on the upper-right side of the page.</p>
<p style="padding-left: 30px;">a. The Excel export will include 4 individual tabs; <strong>Summary, Key Performance Indicators</strong> table, <strong>Top Performing Banks</strong> table, and <strong>Bottom Performing Banks</strong> table &ndash; for the KPI that is active.</p>
<p style="padding-left: 30px;">b. One export file will contain the Top and <strong>Bottom Performing Banks</strong> for a single KPI.</p>
<p>8. To change Banks in the <strong>Performance Analyzer</strong> tables, select a bank from the <strong>Select from Favorite Banks</strong> dropdown list.</p>

