@{
    ViewBag.Title = "Unexpected Error";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        An unexpected error occurred. Please try again. If the problem continues, contact Support at <a href="mailto:castellonf@stifel.com" target="_blank">castellonf@stifel.com</a> for further assistance.
    </p>
</div>

