@{
    ViewBag.Title = "User not found";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        User does not exists, please send an e-mail to <b>admin@cb-resource.com</b> to complete the registration.
    </p>
</div>

