@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        User could not be verified, please contact Support at <a href="mailto:admin@cb-resource.com" target="_blank">admin@cb-resource.com</a> for further assistance.
    </p>
</div>

