/* 8 BankAnalyticsDashboard.html Favorite Banks Styles */

        /*.navbar-inverse .navbar-nav > li > a {
            color: #eeeeee;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 13px;
        }*/

        .nav-pills ul {
            background-color: #fcfcfc;
            list-style: none;
        }

        .nav-pills > li > a, .nav-pills > li > ul > li > a {
            font-size: 11px;
            border-radius: 0px;
            border: 0px;
        }

        ul.risk-profiles {
            background-color: #ffffff;
            border-bottom: 1px solid #dddddd;
        }

        .nav-pills.risk-profiles > li.active > a {
            color: #555;
            font-weight: bold;
        }

        .project-title a {
            color: #173967;
        }

        .bank-profile-details {
            padding: 10px;
            margin-bottom: 30px;
            border-left: 5px solid #173967;
        }

            .bank-profile-details h3 {
                margin-top: 5px;
            }

            .bank-profile-details p {
                margin: 0px 0px 0px 0px;
            }

            .bank-profile-details span.cb-bank-info {
                background-color: #fcfcfc;
                padding: 5px;
                color: #173967;
                display: block;
                border-radius: 0px;
                font-size: 10px;
            }